.table {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin: 50px auto;
  padding: 0;
  width: 100%;
}

.table thead tr {
  border: 1px solid black;
  padding: .35em;
}

.table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}


.table tr:hover {
  background-color: rgb(179, 159, 233);
}

.table th,
.table td {
  padding: .625em;
  text-align: center;
  text-wrap: wrap;
  word-wrap: break-word;
}

.table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #43a1ff;
}
