.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.form_edit {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  gap: 30px;
}

.form_edit .row_edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_edit .row_edit.row_edit__inline {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form_edit .row_edit.row_edit__inline input[type='checkbox'] {
  width: 20px;
  height: 20px;
}


.form_edit .row_edit label {
  color: rgb(48, 48, 48);
  flex: 0;
  min-width: fit-content;
}

.form_edit .row_edit input,
.form_edit .row_edit select {
  height: 35px;
}

.form_edit .row_edit input[type='file'] {
  width: fit-content;
}

button:disabled {
  cursor: not-allowed;
}