.section {
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 50px;
  margin: 50px 0;
}

.title {
  width: fit-content;
  text-align: center;
  font-size: 3rem;
}

.buttonWrapper {
  width: fit-content;
  margin: 0 auto;
}


.info__noDatos {
  text-align: center;
  margin: 5rem auto;
}

.info__noDatos > p {
  margin-top: 10px;
  font-size: 1rem;
}


.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.actions svg {
  cursor: pointer;
}
