.section {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

.image__container {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  padding: 8px 8px;
}

.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  background-color: rgb(179, 159, 233);
  border-radius: 8px;
  padding: 2rem 2rem;
}

.main__content {
  padding: 250px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__content_elem {
  width: fit-content;
  height: 150px;
}

.main__content_elem > h4 {
  font-size: 1rem;
  color: rgb(98, 87, 87);
  margin-bottom: 10px;
}

.main__content_elem > p {
  font-size: 1rem;
  text-transform: capitalize;
}

.name {
  font-size: 3.5rem;
}

.age {
  font-size: 1.1rem;
  font-weight: 600;
}

.footer {
  text-align: center;
}

.footer  > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 10px;
}

.footer .btn__history {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem 2rem;
  border: 2px solid rgb(179, 159, 233);
  border-radius: 3px;
  width: fit-content;
  margin: 0 auto;
  transition: all 0.2s ease;
}

.footer .btn__history:hover {
  background-color: rgba(219, 218, 218, 0.486);
}


@media screen and (max-width: 1024px) {
  .header {
    height: 150px;
  }

  .image__container {
    margin: 0 auto 30px;
    width: 100%;
    max-width: 180px;
    max-height: 180px;
  }
  
  .name {
    font-size: 2.5rem;
  }
  
  .main__content {
    padding-top: 150px;
  }
}

@media screen and (max-width: 640px) {
  .section {
    position: initial;
  }

  .image__container {
    position: initial;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 250px;
  }

  .name {
    font-size: 2rem;
  }

  .main__content {
    padding-top: 80px;
    flex-direction: column;
  }
  
  .main__content_elem {
    text-align: center;
    height: 100px;
  }
}